#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#app .container {
  width: 376px;
  height: 666px;
  z-index: 100;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
}

#app .container-view {
  padding: 20px;
}
#app .container-view .archiveAll{
  padding-left: 10px;
}

#app .container .call-log{
  overflow-y: auto;
  position: relative;
}

#app .container .call-log > div > div > ul{
  overflow: auto;
}

#app .container .call-log > div > div > div{
  position: fixed;
  bottom: 62px;
  max-width:376px;
  width:100%;
  border-top:1px solid #eaeaea;
}

.call-list{overflow:auto}